* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --card-border-color: #338AF3;
  --title-border-color: #338AF3;
  --card-bg-color: #202024;
  --image-bg-color: url(./assets/bg-blue.svg);
}

body.yellow {
  --card-border-color: #F7DD43;
  --title-border-color: #746615;
  --card-bg-color: #1d1c19;
  --image-bg-color: url(./assets/bg-yellow.svg);
}

body.green {
  --card-border-color: #047C3F;
  --title-border-color: #047C3F;
  --card-bg-color: #1A1F1B;
  --image-bg-color: url(./assets/bg-green.svg);
}

ul {
  list-style: none;
}

body {
  background-color: #121214;
  background-image: var(--image-bg-color);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  width: fit-content;
  margin: auto;
  padding-top: 52px;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.card {
  background: var(--card-bg-color);
  border-bottom: 2px solid var(--card-border-color);
  border-radius: 6px;

  padding: 32px 23px;
  text-align: center;
}

.card h2 {
  color: #f7dd43;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  padding: 8px 16px;
  border: 1px solid var(--title-border-color);
  border-radius: 6px;

}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: transform;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;

  color: #e1e1e6;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2, 
.card ul li strong,
.card ul li img {
  transition: transform .3s;
}

.card {
  opacity: 0;
  animation: showUp .4s forwards;
}

@keyframes showUp {
  0%{ 
  opacity: 0; 
  transform: translateX(-60px);
  }
  100% {
  opacity: 1;
  }
}

/*forwards - respeita as condições da @keyframes
.card{animation: appear .2s  forwards }*/
/*Gostei desse @media*/
@media (min-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}